@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Our General Store opened its doors in 1977. Since then we have been the standard in providers of access to home-produced items and specialty foods.</p>
