@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">Welcome to our General Store!</p>
    @Html.ActionLink("Learn More About Us", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Out Our Products", "Index", "Product", null, new { @class="btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Here at General Store, our customers are part of the family. Take a look at some of our partnerships from over the years.</p>
        @Html.ActionLink("View Our Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>Checkout our latest transactions to see how busy we are.</p>
        @Html.ActionLink("See Transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>